<?php
class C_welcome extends CController
{
	function __construct()
	{
		parent::__construct();
	}
	
	public function index()
	{
		/**
		  * Code to load your models , libraries and helps 
		**/
		loadview('index',$data);
	}
}
?>